SECRET_KEY=django-insecure-(k1*d_y=r6m++o2i+l4=w01dwgm1!x850g6cg=zbr&5$q*coc(
DEBUG=True
DATABASE_USER=postgres   #localgovdb_user
DATABASE_NAME=siwes2project #localgovdb
DATABASE_PASSWORD= #jlikTYOztgZLyPJFrrzLmUS9VLGmnflw
DATABASE_HOST=localhost #dpg-cipt8ptgkuvrtof8f56g-a
DATABASE_PORT=5432