{% extends 'base.html' %}
{% block content %}
<body>
    <div class="home">
    <p>DESIGN AND IMPLEMENTATION OF LOCAL GOVERNMENT INDIGENE CERTIFICATE OF ORIGIN SYSTEM</P>
    <p> <br/><br/> BY</P>
    <p><br /><br /> BASHIT LAWAL </P>
    <p> <br /><br /> MATRICULATION NUMBER: </P>
    <p> <br /><br />A PROJECT SUBMITTED IN PARTIAL FULFILLMENT FOR THE AWARD OF BACHELOR OF SCIENCE B.Sc DEGREE IN COMPUTER ENGINEERING</P>
    <p> <br /><br />FACULTY OF SCIENCE DEPARTMENT OF TECHNOLOGY OBAFEMI AWOLOWO UNIVERSITY, ILE-IFE, OSUN STATE, NIGERIA. </P> <br>
    <p><br /><br /> JULY, 2023.</P>

        <div class="fill">
            <a href="/account/form/" class="fill-another-form">FILL OUT THE FORM</a>
         </div>
    </div>

    <footer>&copy; 2023 Bashit Lawal Project</footer>
</body>
<style>
    .home {
        text-align: center;
        padding: 15px;
        display: block;
    }
    .fill {
        margin: 2rem 0 5rem 0;
        text-align: center;
    }
    .fill-another-form{
        background-color: black;
        border-radius: 10%;
        padding: 1em 2em;
        color: white;
        text-decoration: none;
       
    }
    footer {
        text-align: center;
        margin-bottom: 2rem;
    }
</style>
{% endblock %}
